<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>/WEB-INF/pages/login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>loginAction</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginAction</servlet-name>
        <url-pattern>/action/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/WEB-INF/pages/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createUser</servlet-name>
        <jsp-file>/WEB-INF/pages/createUser.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>createUser</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createUserAction</servlet-name>
        <servlet-class>Controller.CreateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createUserAction</servlet-name>
        <url-pattern>/action/createUser</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>indexTrainee</servlet-name>
        <jsp-file>/WEB-INF/pages/indexTrainee.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexTrainee</servlet-name>
        <url-pattern>/indexTrainee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>indexAdmin</servlet-name>
        <jsp-file>/WEB-INF/pages/indexAdmin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexAdmin</servlet-name>
        <url-pattern>/indexAdmin</url-pattern>
    </servlet-mapping>

    <!--questionnaire-->

    <servlet>
        <servlet-name>createQuestionnaire</servlet-name>
        <servlet-class>Controller.CreateQuestionnaire</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createQuestionnaire</servlet-name>
        <url-pattern>/createquestionnaire</url-pattern>
    </servlet-mapping>

    <!--question-->
    <servlet>
        <servlet-name>createQuestionn</servlet-name>
        <jsp-file>/WEB-INF/pages/createQuestion.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createQuestionn</servlet-name>
        <url-pattern>/createQuestionn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createQuestionAction</servlet-name>
        <servlet-class>Controller.CreateQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createQuestionAction</servlet-name>
        <url-pattern>/action/createQuestion</url-pattern>
    </servlet-mapping>

</web-app>